<!DOCTYPE html>
{% load cache %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Cache</title>
</head>
<body>
    <h2>The Movie Name Is:-{{fm}}</h2>
    <h1>Home cache one</h1>
    <h1>Home cache two</h1>
    <h1>Home cache three</h1>
    <h1>Home cache four</h1>
    
    <h1>Home cache five</h1>
    <h1>Home cache six</h1>
    
    <a href="{% url 'about' %}">go to contact</a>
</body>
</html>