<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Froms</title>
</head>
<body>
    <h1>This Is Django Form</h1>
    <form action="" method="get" novalidate>
{% comment %}     
    {% for em in emp %}
        {{em.label}}<br>
        {{em.label_tag}}<br>
        {{em.as_p}}<br>
    {% endfor %} {% endcomment %}
       {{emp.as_p}}
    <input type="submit" value="Save">
    <input type="submit" value="Cancel">
    </form><hr>

    {% comment %} <h1>This Is Django Form</h1>
    <form action="" method="get" novalidate>
        {{emp.as_p}}
        {% comment %} {{emp.e_name}}<hr> {% endcomment %}
    {% comment %} <input type="submit" value="Save">
    <input type="submit" value="Cancel">
    </form><hr> {% endcomment %} 

    {% comment %} <div>
        <label for="{{emp.e_name.id_for_label}}">Name</label>
        <input type="text" name="name" required id="id_name">
        {{emp.e_name}}
        {{emp.e_email}}
    </div> {% endcomment %}

</body>
</html>