<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Model</title>
    <style>
        h1{
            margin-left:400px;
        }
        table,tr,th,td{
            border:2px solid darkblue;
            margin-left:400px;

        }
        a{
            margin-left:560px;

        }
    </style>
</head>
<body>
        <h1>Function Based Model View </h1>
        {% if stud %}
            <h1>Your Table Will be Data id here...</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>ROLL</th>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>EMAIL</th>
                    <th>PASSWORD</th>
                </tr>
            {% for stu in stud %}
            <tr>
                <td>
                {{stu.id}}
                </td>
                <td>
                {{stu.s_roll}}
                </td>
                <td>
                {{stu.s_name}}
                </td>
                <td>
                {{stu.s_address}}
                </td>
                <td>
                {{stu.s_email}}
                </td>
                <td>
                {{stu.s_pass}}
                </td>
            </tr>

            {% endfor %}
            </table>
             {% else %}
            <h1>No Recoreds Found.......</h1>
        {% endif %}<br>
        <a href="{% url 'home' %}">Home</a> <br>
            <h2>The Applied Queries  Are:</h2>{{stud}}    
</body>
</html>