<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Froms</title>
</head>
<body>
    <h1>This Is Django Form</h1>
    <form action="" method="get" novalidate>
       {{emp.as_p}}
    <input type="submit" value="Save">
    <input type="submit" value="Cancel">
    </form><hr>
    
    <div>
    {{emp.e_name.label}}<br>
    {{emp.e_name.value}}<br>
    {{emp.e_name.html_name}}<br>
    {{emp.e_name.help_text}}<br>
    {{emp.e_name.field.required}}<br>
    </div>
    <hr>
    <div>
    {{emp.e_address.label}}<br>
    {{emp.e_address.value}}<br>
    {{emp.e_address.html_name}}<br>
    {{emp.e_address.help_text}}<br>
    {{emp.e_address.field.required}}<br>
    </div>
    <hr>
    <div>
    {{emp.e_email.label}}<br>
    {{emp.e_email.value}}<br>
    {{emp.e_email.html_name}}<br>
    {{emp.e_email.help_text}}<br>
    {{emp.e_email.field.required}}<br>
    </div>

     <hr>
    <div>
    {{emp.e_pass.label}}<br>
    {{emp.e_pass.value}}<br>
    {{emp.e_pass.html_name}}<br>
    {{emp.e_pass.help_text}}<br>
    {{emp.e_pass.field.required}}<br>
    </div>
</body>
</html>