<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Froms</title>
</head>
<body>
    <h1>This Is Django Form</h1>
    <form action="" method="get" novalidate>
        {% for emp in emp.visible_fields  %}
            {% comment %} {{emp.label}}<br> {% endcomment %}
            {% comment %} {{emp.label_tag}}<br> {% endcomment %}
            {{emp.label_tag}}<br>
            {{emo}}
        {% endfor %}<hr>

         {% for emp in emp.is_hidden_fiels  %}
            {% comment %} {{emp.label}}<br> {% endcomment %}
            {% comment %} {{emp.label_tag}}<br> {% endcomment %}
            {{emp}}p<br>
            {{emo}}
        {% endfor %}<hr>
    <input type="submit" value="Save">
    <input type="submit" value="Cancel">
    </form>
</body>
</html>