<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <style>
        #form{
            margin:250px;
            color:blue;
        }
        .tags{
            color:red;
        }
        .success{
            color:black;
        }
    </style>
</head>
<body>
        <div id='form'>

            
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{student.as_p}}
            <input type="submit" value="Save">
            <a href="">Cancel</a>
        </form>
         {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
                    <span class='tags'>{{message.tags}}</span>
            {% endif %}
                <span class='success'>{{message}}</span>
            {% endfor %}
         {% endif %}

         </div>
</body>
</html>