<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Froms</title>
    <style>
        .helptext{
            color:blue;
        }
    </style>
</head>
<body>
    <h1>This Is Django Form</h1>
    <form action="" method="get" novalidate>
            {{emp.as_p}}<br>
    <input type="submit" value="Save">
    <input type="submit" value="Cancel">
    </form>
</body>
</html>