<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Detail</title>
    <style>
        body{
            background-color:skyblue;
        }
        #tea{
            margin-left:400px;
        }
        h1{
            margin-left:200px;
        }
    </style>
</head>
<body>
        <h1>------------TEACHER DETAIL PAGE-------------</h1>
        <div id='tea'>
        <form action="" method="post" novalidate>
        {% csrf_token %}
        {{tea1.as_p}}
         {% comment %} <input type="submit" value="submit">   {% endcomment %}
        
        <button>
        <a href="{% url 'teachersuccess' %}">Save</a>
        </button>
        
        <button>
        <a href="{% url 'student' %}">Go To Student</a>
        </button> 
        </form>
        </div>
</body>
</html>