<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title2}}</title>
    <style>
        body{
            background-color:lightblue;
        }
    </style>
</head>
<body>
    <h1>Hello About Page</h1><br>
    <p>This Tutorial is About Django Rest Framework here You are going to learn 
    about django rest framework. </p>
    <h1>What Is Django Rest Framework-</h1>
    <p>The Django Rest Framework is used to make Web API.
    <a href="">Api</a>
    </p>
    <a href="{% url 'main' %}">Go To Main</a>
</body>
</html>