<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title1}}</title>
    <style>
        body{
            background-color:skyblue;
        }
        h2,li{
            margin-left:450px;
        }
    </style>
</head>
<body>
    <h2>------:Top Courses:-------</h2>
    {% include 'school/toprankers.html' %}
    <li><a href="{% url 'about' %}">About Page</li></a><br>
    <li><a href="{% url 'base' %}">Base Page</li></a><br>
    <li><a href="{% url 'main' %}">Main Page</li></a><br>
</body>
</html>